.main-fluid-container {
  .container-fluid;
  padding-right: 0px;
  margin-right: -15px;
}

.main-content {
  height: 100vh;
  overflow-y: scroll;
}

.odd {
  background-color: lighten(@highlight-color, 50%);
}

.filter-option {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  text-align: left;
}
