<div class="container-fluid margin-top-navbar-height">

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <togle-class target="#wrapper" toggle-class="toggled">
          <button type="button" class="navbar-toggle collapsed"
                  aria-expanded="false" aria-controls="navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </togle-class>
        <a class="navbar-brand" href="#">Dnd Admin Template</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              {{'select-language' | translate}} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li ng-click="switchLanguage('es')"><a href="#">{{'spanish' | translate}}</a></li>
              <li class="divider"></li>
              <li ng-click="switchLanguage('en')"><a href="#">{{'english' | translate}}</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="wrapper" class="navbar-collapse">

    <!-- Sidebar -->
    <div id="sidebar-wrapper" role="navigation" mark-active>
      <ul class="sidebar-ul">
        <li class="sidebar-header text-center">
          <span class="fa fa-5x fa-photo margin-top-sm margin-bottom-sm"></span>
        </li>
        <li class="sidebar-li">
          <a href="#/dashboard/main">
            <div class="clickable-area">
              <span class="fa fa-2x fa-home sidebar-icon margin-right-xs"></span>
              <span class="sidebar-title">{{'reports' | translate}}</span>
            </div>
          </a>
        </li>
        <li class="sidebar-li">
          <a href="#/dashboard/main">
            <div class="clickable-area">
              <span class="fa fa-2x fa-home sidebar-icon margin-right-xs"></span>
              <span class="sidebar-title">{{'statistics' | translate}}</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <ui-view></ui-view>
          </div>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
</div>
